*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
}

.container .page{
    width: 100%;
    height: 100vh;
    background-color: burlywood;
    background: url(./pexels-rajesh-tp-749235-1603899.jpg) no-repeat;
    background-size: cover;
}

.page header nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(90, 83, 83);
}

.page header nav img{
    width: 50px;
    height: 50px;
}

.page header nav ul{
    list-style: none;
    display: flex;
}

.page header nav ul li{
    padding: 30px;
    margin-right: 100px;
}

.page header nav ul li a{
    text-decoration: none;
    color: aliceblue;
}

.page header nav ul li a:hover{
    color: aqua;
}

.page h1{
    margin-left: 10%;
    margin-top: 8%;
    font-size: 4rem;
    color: chocolate;
}

.page p{
    margin-left: 10%;
    margin-top: 25px;
    color: whitesmoke;
    font-size: 1.5rem;
}

.page button{
    width: 10%;
    height: 7%;
    margin-left: 10%;
    margin-top: 40px;
    background-color: rgb(202, 18, 18);
    border: red;
    border-radius: 20px;
}
.page button:hover{
    color: aliceblue;
    background-color: rgb(207, 67, 67);
    transform: scale(0.9);
}

.container .page1{
    width: 100%;
    height: 100vh;
    background:linear-gradient(grey, whitesmoke ,black)
}

.page1 h1{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}

.page1 .dish{
    width: 25%;
    height: 80vh;
    border: 1px solid black;
    float: left;
    margin-left: 5.5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.page1 .dish h1{
    width: 100%;
    height: 15vh;
    color: black;
    background-color: whitesmoke;
    border-top-left-radius: 1rem;
}

.page1 .dish1{
    background: url(./pexels-igrejapreta-2516025.jpg) no-repeat;
    background-size: cover;
}

.page1 .dish2{
    background: url(./pexels-valeriya-842571.jpg) no-repeat;
    background-size: cover;
}

.page1 .dish3{
    background: url(./pexels-itfeelslikefilm-590477.jpg) no-repeat;
    background-size: cover;
}

.container .page2{
    width: 100%;
    height: 100vh;
    background: url(./pexels-itfeelslikefilm-590477.jpg) no-repeat;
    background-size: cover;
}

.page2 h1{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    color: lightsalmon;
}

.page2 h2{
    text-align: center;
    font-size: 2rem;
    color: darkturquoise;
}

.page2 p{
    color: darkorange;
    margin: 2rem 5rem 0 5rem;
    font-size: 1.3rem;
    text-align: center;
}

.container .page3{
    width: 100%;
    height: 100vh;color: whitesmoke;
    
}

.container .page3 h1{
    color: black;
    text-align: center;
    padding: 1rem;
}

.container .page3 footer{
    width: 100%;
    height: 80vh;
    background-color: black;
    position: relative;
}

.container .page3 footer h2{
    position: relative;
    top: 5rem;
    margin: 0 0 0 10rem;
    padding: 1rem 0 0 0;
}

.container .page3 footer p{
    margin: 0 0 0 10rem;
    position: relative;         
    top: 4rem;
}

.container .page3 footer form{
    width: 20%;
    height: 30vh;
    margin: -13rem 0 0 50rem;
}

.container .page3 footer form label{
    font-size: 1.5rem;
}

.container .page3 footer form input{
    width: 100%;
    height: 5vh;
    margin: 1rem 0 0 0;
}

.container .page3 footer form button{
    width: 50%;
    height: 5vh;
    text-align: center;
    margin: 2rem 0 0 4rem;
    border-radius: 30px;
    background-color: red;
    border: 1px solid white ;
}

.container .page3 footer form button:hover{
    background-color: white;
    color: black;
}

.container .page3 .copy{
    color: darkmagenta;
    text-align: center;
    margin: 1rem 0 0 0;
}